.productos {
    width: 940px;
    margin: 0 auto; 
    padding: 50px;
}


.productos li {
    display: inline-block; 
    text-align: center;
    width: 30%; /*100% - 90% / 3 = 30%, y 10% restantes se distribuyen entre los márgenes*/
    vertical-align: top;

    /*Añade esta propiedad si quieres ver todas las herramientas a continuación: background-color: #CCCCCC; */

    margin: 0 1.5%; /*1.5% * 6(cantidad de espacios) = 9% /// 9% + (30% * 3) = 
    99%FINAL*/
    padding: 30px 20px; 
    box-sizing: border-box; /*IMPORTANTE. Para que el padding NO sobrepase el 99%, y el "paquete completo" no quede abajo.*/

    border: 2px #000000 solid;
    border-radius: 10px;
}


.productos li:hover {
    border-color: #c78c19;
}

.productos li:active {
    border-color: #088c19;
}

.productos h2 {
    font-size: 30px; 
    font-weight: bold;
}

.productos li:hover h2 {
    font-size: 31px;
}

.producto-descripcion {
    font-size: 18px;
}

.producto-precio {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px; 
}